In [1]:
import os
import pandas as pd

# Path to the directory containing the files
directory_path = r"c:\Users\ksree\Documents\Git\ASME\Tablicy"

# List to store dataframes
dataframes = []

# Iterate through files in the directory
for file_name in sorted(os.listdir(directory_path)):
    if file_name.startswith("Table 1A"):
        print(f"Processing file: {file_name}")
        file_path = os.path.join(directory_path, file_name)
        
        # Read the file with error handling for encoding
        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                lines = file.readlines()
        except UnicodeDecodeError:
            with open(file_path, 'r', encoding='latin-1', errors='replace') as file:
                lines = file.readlines()
        
        # Extract header from the first file and transform it
        if not dataframes:  # Check if this is the first file being processed
            header = lines[0].strip().split()  # Split by whitespace
            df = pd.DataFrame(columns=header)
        
        # Add rows to the dataframe
        for line in lines[1:]:
            row = line.strip().split()
            if len(row) == len(header):  # Check if the row matches the header length
                df.loc[len(df)] = row
            else:
                print(f"Skipping mismatched row in file {file_name}: {row}")
        
        # Append the dataframe
        dataframes.append(df)

# Combine all dataframes into one final dataframe
final_dataframe = pd.concat(dataframes, ignore_index=True)

# Display the final dataframe
print(final_dataframe)

Processing file: Table 1A_1.txt
Skipping mismatched row in file Table 1A_1.txt: ['1', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '76.0', '71.6', '69.6', '67.8']
Skipping mismatched row in file Table 1A_1.txt: ['2', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '76.0', '71.6', '69.6', '67.8']
Skipping mismatched row in file Table 1A_1.txt: ['3', '88.9', '88.9', '88.9', '88.9', '88.9', '88.4', '85.0', '80.7', '78.4', '75.8', '73.5', '71.5', '64.0', '56.1', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['4', '88.9', '88.9', '88.9', '88.9', '88.9']
Skipping mismatched row in file Table 1A_1.txt: ['5']
Skipping mismatched row in file Table 1A_1.txt: ['6', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '86.3', '83.8', '81.4', '78.8', '73.4', '64.0', '56.1', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['7', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '86.3', '83.8', '81.4', '78.8']
Skipping mismatched row in file Table 1A_1.txt: ['8', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '88.9', '88.5', '87.5', '84.8', '81.2', '73.4', '64.0', '56.1', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['9', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '91.9', '90.7', '87.8', '84.3', '73.3', '63.9', '56.2', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['10', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.1', '77.1', '74.7', '71.4', '62.3', '54.2', '47.6', '37.7']
Skipping mismatched row in file Table 1A_1.txt: ['11', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '91.9', '90.7', '87.8', '84.3', '73.3', '63.9', '56.2', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['12', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '91.9', '90.7', '87.8', '84.3', '73.3', '63.9', '56.2', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['13', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.1', '77.1', '74.7', '71.4', '62.3', '54.2', '47.6', '37.7']
Skipping mismatched row in file Table 1A_1.txt: ['14', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '91.9', '90.7', '87.8', '84.3', '73.3', '63.9', '56.2', '44.5']
Skipping mismatched row in file Table 1A_1.txt: ['15', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.6', '78.1', '77.1', '74.7', '71.4', '62.3', '54.2', '47.6', '37.7']
Skipping mismatched row in file Table 1A_1.txt: ['16', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '79.8', '71.6', '62.3', '53.7', '43.9', '32.9']
Skipping mismatched row in file Table 1A_1.txt: ['17', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '93.5', '84.5', '73.3', '62.8', '51.2', '38.3']
Skipping mismatched row in file Table 1A_1.txt: ['18', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '79.8', '71.6', '62.4', '54.9', '47.5', '40.1']
Skipping mismatched row in file Table 1A_1.txt: ['19', '56.5', '56.5', '56.5', '56.5', '56.5', '56.5', '56.5', '56.5', '56.5', '56.0', '50.7', '43.8']
Skipping mismatched row in file Table 1A_1.txt: ['20', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '93.5', '84.5', '73.3', '62.8', '51.2', '38.3']
Skipping mismatched row in file Table 1A_1.txt: ['21', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '93.6', '84.4', '73.3', '64.7', '56.0', '47.6']
Skipping mismatched row in file Table 1A_1.txt: ['22', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '93.6', '84.4', '73.3', '64.7', '56.0', '47.6']
Skipping mismatched row in file Table 1A_1.txt: ['23', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '79.8', '71.6', '62.4', '54.9', '47.5', '40.1']
Skipping mismatched row in file Table 1A_1.txt: ['24', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '94.5', '93.5', '84.5', '73.3', '62.8', '51.2', '38.3']
Skipping mismatched row in file Table 1A_1.txt: ['25', '94.5', '94.5', '94.5', '94.5', '94.5']
Skipping mismatched row in file Table 1A_1.txt: ['26', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '80.7', '79.8', '71.6', '62.4', '54.9', '47.5', '40.1']
Skipping mismatched row in file Table 1A_1.txt: ['27', '98.6', '98.6', '98.6', '98.6', '98.6', '98.1', '94.7', '89.8', '87.3', '84.9']
Skipping mismatched row in file Table 1A_1.txt: ['28', '98.6', '98.6', '98.6', '98.6', '98.6', '98.1', '94.7', '89.8', '87.3', '84.9', '81.2', '73.4', '64.7', '56.0', '47.3']
Skipping mismatched row in file Table 1A_1.txt: ['29', '98.6', '98.6', '98.6', '98.6', '98.6']
Skipping mismatched row in file Table 1A_1.txt: ['30']
Skipping mismatched row in file Table 1A_1.txt: ['31', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '96.6', '94.1', '90.7', '85.0', '75.4', '65.6', '52.8', '38.6']
Skipping mismatched row in file Table 1A_1.txt: ['32', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '96.6', '94.1', '90.6', '85.1', '76.8', '66.8', '57.8', '44.9']
Skipping mismatched row in file Table 1A_1.txt: ['33', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '96.6', '94.1', '90.6', '85.1']
Skipping mismatched row in file Table 1A_1.txt: ['34', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '98.6', '96.9', '84.5', '76.8', '66.8', '57.7', '44.9']
Skipping mismatched row in file Table 1A_1.txt: ['35', '100', '100', '100', '100', '100', '100']
Skipping mismatched row in file Table 1A_1.txt: ['36', '103', '103', '103', '103', '103', '103', '103', '103', '103', '96.8', '85.0']
Skipping mismatched row in file Table 1A_1.txt: ['37', '103', '103', '103', '103', '103', '103', '103', '103', '103', '103', '102', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_1.txt: ['38', '103', '103', '103', '103', '103', '103']
Skipping mismatched row in file Table 1A_1.txt: ['39', '103', '103', '103', '103', '103', '103', '103', '103', '103', '103', '102', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_1.txt: ['40', '103', '103', '103', '103', '103', '103', '103', '103', '103', '103', '102', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_1.txt: ['41', '104', '104', '104', '104', '104', '104', '104', '104', '104', '104']
Skipping mismatched row in file Table 1A_1.txt: ['42', '105', '105', '105', '105', '105', '105']
Skipping mismatched row in file Table 1A_1.txt: ['43', '108', '108', '108', '108', '108', '108', '108', '108', '108', '108']
Skipping mismatched row in file Table 1A_1.txt: ['44', '108', '108', '108', '108', '108', '108', '108', '108', '108', '108']
Skipping mismatched row in file Table 1A_1.txt: ['45', '108', '108', '108', '108', '108', '108', '104', '98.8', '96.1', '92.9', '89.9', '87.3', '75.4', '62.5', '46.0']
Processing file: Table 1A_11.txt
Skipping mismatched row in file Table 1A_11.txt: ['1', '108', '108', '108', '108', '108', '108', '104', '98.8', '96.1', '92.9']
Skipping mismatched row in file Table 1A_11.txt: ['2', '108', '108', '108', '108', '108']
Skipping mismatched row in file Table 1A_11.txt: ['3', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101']
Skipping mismatched row in file Table 1A_11.txt: ['4', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['5', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['6', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['7', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '92.4', '90.8', '88.7', '86.2']
Skipping mismatched row in file Table 1A_11.txt: ['8', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['9', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['10', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['11', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['12', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['13', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['14', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['15', '108', '108', '108', '108', '108', '108', '108', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['16', '108', '108', '108', '108', '108', '108', '108', '108', '108', '108', '106', '88.8', '75.2', '62.6', '45.9']
Skipping mismatched row in file Table 1A_11.txt: ['17', '111', '111', '111', '111', '111', '111']
Skipping mismatched row in file Table 1A_11.txt: ['18', '114', '114', '114', '114', '114', '114', '114', '114', '114', '114', '105', '88.9', '75.3', '62.6', '45.9']
Skipping mismatched row in file Table 1A_11.txt: ['19', '114', '114', '114', '114', '114', '114', '114', '114', '114', '114', '105']
Skipping mismatched row in file Table 1A_11.txt: ['20', '114', '114', '114', '114', '114', '114', '114', '114', '114', '114', '105']
Skipping mismatched row in file Table 1A_11.txt: ['21', '114', '114', '114', '114', '114', '114', '114', '114', '114', '114']
Skipping mismatched row in file Table 1A_11.txt: ['22', '117', '117', '117', '117', '117', '117', '117', '117', '116', '113']
Skipping mismatched row in file Table 1A_11.txt: ['23', '117', '117', '117', '117', '117', '117', '117', '117', '116', '113']
Skipping mismatched row in file Table 1A_11.txt: ['24', '117', '117', '117', '117', '117', '117', '117', '117', '116', '113']
Skipping mismatched row in file Table 1A_11.txt: ['25', '117', '117', '117', '117', '117', '117', '117', '117', '116', '113']
Skipping mismatched row in file Table 1A_11.txt: ['26', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['27', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['28', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['29', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['30', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117', '106']
Skipping mismatched row in file Table 1A_11.txt: ['31', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['32', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['33', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['34', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['35', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117']
Skipping mismatched row in file Table 1A_11.txt: ['36', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['37', '117', '117', '117', '117', '117', '117', '117', '117', '117', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['38', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['39', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['40', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['41', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['42', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8']
Skipping mismatched row in file Table 1A_11.txt: ['43', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['44', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_11.txt: ['45', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Processing file: Table 1A_12.txt
Skipping mismatched row in file Table 1A_12.txt: ['1', '118', '118', '118', '118', '118', '118', '114', '107', '104', '101', '97.8', '89.1', '75.4', '62.6', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['2', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['3', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['4', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['5', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['6', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['7', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['8', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['9', '118', '118', '118', '118', '118', '118', '118', '115', '112', '108', '104']
Skipping mismatched row in file Table 1A_12.txt: ['10', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['11', '118', '118', '118', '118', '118', '118', '118', '118', '115', '111']
Skipping mismatched row in file Table 1A_12.txt: ['12', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['13', '101', '101', '101', '101', '101', '101', '101', '101', '101', '99.7', '89.7', '75.9', '64.1', '53.3', '38.6']
Skipping mismatched row in file Table 1A_12.txt: ['14', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['15', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['16', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['17', '101', '101', '101', '101', '101', '101', '101', '101', '101', '99.7', '89.7', '75.9', '64.1', '53.3', '38.6']
Skipping mismatched row in file Table 1A_12.txt: ['18', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['19', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['20', '101', '101', '101', '101', '101', '101', '101', '101', '101', '99.7', '89.7']
Skipping mismatched row in file Table 1A_12.txt: ['21', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105']
Skipping mismatched row in file Table 1A_12.txt: ['22', '101', '101', '101', '101', '101', '101', '101', '101', '101', '101']
Skipping mismatched row in file Table 1A_12.txt: ['23', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['24', '118', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['25', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['26', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['27', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['28', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105']
Skipping mismatched row in file Table 1A_12.txt: ['29', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['30', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.2', '63.2', '40.5']
Skipping mismatched row in file Table 1A_12.txt: ['31', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['32', '101', '101', '101', '101', '101', '101', '101', '101', '101', '99.7', '89.7', '75.9', '64.1', '53.3', '38.6']
Skipping mismatched row in file Table 1A_12.txt: ['33', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['34', '118', '118', '118', '118', '118', '118', '118', '118', '118', '117', '105', '88.9', '75.3', '62.7', '45.5']
Skipping mismatched row in file Table 1A_12.txt: ['35', '101', '101', '101', '101', '101', '101', '101', '101', '101', '99.7', '89.7', '75.9', '64.1', '53.3', '38.6']
Skipping mismatched row in file Table 1A_12.txt: ['36', '118', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['37', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['38', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['39', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['40', '118', '118', '118', '118', '118', '118', '118', '118', '118']
Skipping mismatched row in file Table 1A_12.txt: ['41', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '114', '95.0', '79.6', '63.2', '45.3']
Skipping mismatched row in file Table 1A_12.txt: ['42', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '114', '95.0', '79.6', '63.2', '45.3']
Skipping mismatched row in file Table 1A_12.txt: ['43', '123', '123', '123', '123', '123', '123', '121', '114', '111', '108', '105', '96.2', '79.1', '62.1', '46.0']
Skipping mismatched row in file Table 1A_12.txt: ['44', '126', '126', '126', '126', '126', '126', '126', '122', '119', '115', '112', '96.2', '79.1', '62.1', '46.0']
Skipping mismatched row in file Table 1A_12.txt: ['45', '128', '128', '128', '128', '128', '128', '123', '117', '113', '110', '106', '95.2', '79.6', '63.8', '39.2']
Processing file: Table 1A_13.txt
Skipping mismatched row in file Table 1A_13.txt: ['1', '128', '128', '128', '128', '128', '128', '128', '125', '122', '118', '114']

In [3]:
import pandas as pd

def list_from_stroka(filename, No):
    file_path = filename

    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()  # Считываем все строки файла
            
            # Проверяем, что номер строки находится в допустимых пределах
            if 1 <= No <= len(lines):
                string = lines[No - 1].strip()
 #               print(f"Строка номер {No}: {lines[No - 1].strip()}")
            else:
                print(f"Ошибка: файл содержит только {len(lines)} строк(и).")
    except FileNotFoundError:
        print(f"Ошибка: файл '{file_path}' не найден.")
    except UnicodeDecodeError:
        print(f"Ошибка: не удалось декодировать файл. Проверьте его кодировку.")


    # Результирующий список
    result = string.split()

    # Выводим результат
 #   print(result)

    # Исходный список
    original_list = result

    # Результирующий список
    new_list = []

    for item in original_list:
        if isnumber(item):  # Если элемент представляет число
            new_list.append(float(item))  # Преобразуем в число и добавляем
        else:  # Если элемент не число
            new_list.extend(['Nan'] * len(item))  # Добавляем 'Nan' столько раз, какова длина элемента

    # Выводим результат
    return new_list

def isnumber(item):
    try:
        # Попытка преобразовать в float
        number = float(item)
        return True
    except ValueError:
        return False        # Если ошибка преобразования


list_i =  [5493, 5725, 5960, 6192, 6420, 6648, 6876, 7104, 7332, 7560, 7788, 8016, 8244, 
           8472, 8700, 8929, 9174, 9419, 9648, 9876, 10105, 10335, 10564, 10792, 11020, 
           11248, 11476, 11709, 11942, 12170, 12399, 12628, 12856, 13084, 13312, 13543, 
           13774, 13949]

list_of_list = []
Novhoda = 5493
No = Novhoda
head = list_from_stroka('initialASME.txt', No)
print(head)
for No in range(Novhoda + 1, Novhoda + 46):
    string = list_from_stroka('initialASME.txt', No)
    string.pop(0)
    list_of_list.append(string)
    print(string)


df = pd.DataFrame(list_of_list, columns=head)

[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 76.0, 71.6, 69.6, 67.8, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 76.0, 71.6, 69.6, 67.8, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[88.9, 88.9, 88.9, 88.9, 88.9, 88.4, 85.0, 80.7, 78.4, 75.8, 73.5, 71.5, 64.0, 56.1, 44.5]
[88.9, 88.9, 88.9, 88.9, 88.9, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
['Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 86.3, 83.8, 81.4, 78.8, 73.4, 64.0, 56.1, 44.5]
[88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 86.3, 83.8, 81.4, 78.8, 'Nan', 'Nan', 'Nan', 'Nan']
[88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 88.9, 88.5, 87.5, 84.8, 81.2, 73.4, 64.0, 56.1, 44.5]
[92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 91.9, 90.7, 87.8, 84.3, 73.3, 63.9, 56.2, 44.5]
[78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.1, 77.1, 74.7, 71.4, 62.3, 54.2, 47.6, 37.7]
[92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 91.9, 90.7, 87.8, 84.3, 73.3, 63.9, 56.2, 44.5]
[92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 91.9, 90.7, 87.8, 84.3, 73.3, 63.9, 56.2, 44.5]
[78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.1, 77.1, 74.7, 71.4, 62.3, 54.2, 47.6, 37.7]
[92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 92.4, 91.9, 90.7, 87.8, 84.3, 73.3, 63.9, 56.2, 44.5]
[78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.6, 78.1, 77.1, 74.7, 71.4, 62.3, 54.2, 47.6, 37.7]
[80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 79.8, 71.6, 62.3, 53.7, 43.9, 32.9]
[94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 93.5, 84.5, 73.3, 62.8, 51.2, 38.3]
[80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 79.8, 71.6, 62.4, 54.9, 47.5, 40.1]
[56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.0, 50.7, 43.8, 'Nan', 'Nan', 'Nan']
[94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 93.5, 84.5, 73.3, 62.8, 51.2, 38.3]
[94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 93.6, 84.4, 73.3, 64.7, 56.0, 47.6]
[94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 93.6, 84.4, 73.3, 64.7, 56.0, 47.6]
[80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 79.8, 71.6, 62.4, 54.9, 47.5, 40.1]
[94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 94.5, 93.5, 84.5, 73.3, 62.8, 51.2, 38.3]
[94.5, 94.5, 94.5, 94.5, 94.5, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 80.7, 79.8, 71.6, 62.4, 54.9, 47.5, 40.1]
[98.6, 98.6, 98.6, 98.6, 98.6, 98.1, 94.7, 89.8, 87.3, 84.9, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[98.6, 98.6, 98.6, 98.6, 98.6, 98.1, 94.7, 89.8, 87.3, 84.9, 81.2, 73.4, 64.7, 56.0, 47.3]
[98.6, 98.6, 98.6, 98.6, 98.6, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
['Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 96.6, 94.1, 90.7, 85.0, 75.4, 65.6, 52.8, 38.6]
[98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 96.6, 94.1, 90.6, 85.1, 76.8, 66.8, 57.8, 44.9]
[98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 96.6, 94.1, 90.6, 85.1, 'Nan', 'Nan', 'Nan', 'Nan']
[98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 96.9, 84.5, 76.8, 66.8, 57.7, 44.9]
[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 96.8, 85.0, 'Nan', 'Nan', 'Nan', 'Nan']
[103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 102.0, 89.1, 75.4, 62.6, 45.5]
[103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 102.0, 89.1, 75.4, 62.6, 45.5]
[103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 103.0, 102.0, 89.1, 75.4, 62.6, 45.5]
[104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[105.0, 105.0, 105.0, 105.0, 105.0, 105.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 104.0, 98.8, 96.1, 92.9, 89.9, 87.3, 75.4, 62.5, 46.0]

In [34]:
import pandas as pd

def list_from_stroka(filename, No):
    file_path = filename

    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()  # Считываем все строки файла
            
            # Проверяем, что номер строки находится в допустимых пределах
            if 1 <= No <= len(lines):
                string = lines[No - 1].strip()
 #               print(f"Строка номер {No}: {lines[No - 1].strip()}")
            else:
                print(f"Ошибка: файл содержит только {len(lines)} строк(и).")
    except FileNotFoundError:
        print(f"Ошибка: файл '{file_path}' не найден.")
    except UnicodeDecodeError:
        print(f"Ошибка: не удалось декодировать файл. Проверьте его кодировку.")


    # Результирующий список
    result = string.split()

    # Выводим результат
 #   print(result)

    # Исходный список
    original_list = result

    # Результирующий список
    new_list = []

    for item in original_list:
        if isnumber(item):  # Если элемент представляет число
            new_list.append(float(item))  # Преобразуем в число и добавляем
        else:  # Если элемент не число
            new_list.extend(['Nan'] * len(item))  # Добавляем 'Nan' столько раз, какова длина элемента

    # Выводим результат
    return new_list

def isnumber(item):
    try:
        # Попытка преобразовать в float
        number = float(item)
        return True
    except ValueError:
        return False        # Если ошибка преобразования

list_i =  [5493, 5725, 5960, 6192, 6420, 6648, 6876, 7104, 7332, 7560, 7788, 8016, 8244, 
           8472, 8700, 8929, 9174, 9419, 9648, 9876, 10105, 10335, 10564, 10792, 11020, 
           11248, 11476, 11709, 11942, 12170, 12399, 12628, 12856, 13084, 13312, 13543, 
           13774, 13949]
len0 = 38




list_of_list = []

for i in range(len0 - 1):
    Novhoda = list_i[i]
    No = Novhoda
    head = list_from_stroka('initialASME.txt', No)
    print(head)
    for No in range(Novhoda + 1, Novhoda + 46):
        string = list_from_stroka('initialASME.txt', No)
        string.pop(0)
        list_of_list.append(string)

for i in range(len0 - 1, len0):
    Novhoda = list_i[i]
    No = Novhoda
    head = list_from_stroka('initialASME.txt', No)
    print(head)
    for No in range(Novhoda + 1, Novhoda + 19):
        string = list_from_stroka('initialASME.txt', No)
        string.pop(0)
        list_of_list.append(string)


df = pd.DataFrame(list_of_list, columns=head)
df.to_csv("Tabl1A.csv", index=False)

[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]

In [90]:
#mask = df[475.0] > 40 and df[475.0] < 40.2
mask = df[475.0] == 37.7
filtered_df = df[mask]

In [77]:
filtered_df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
9,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7
12,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7
14,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7

In [87]:
mask = df[475.0] > 44.6
filtered_df = df[mask]

TypeError: '>' not supported between instances of 'str' and 'float'

In [91]:
df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
0,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
1,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
3,88.9,88.9,88.9,88.9,88.9,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
4,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1661,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1662,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1663,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1664,177.0,177.0,177.0,174.0,171.0,168.0,168.0,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [88]:
df[475.0]

0         Nan
1         Nan
2        44.5
3         Nan
4         Nan
        ...
1660    113.0
1661     85.3
1662    113.0
1663     85.3
1664      Nan
Name: 475.0, Length: 1665, dtype: object

In [86]:
filtered_df

Empty DataFrame
Columns: [40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
Index: []

In [81]:
df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
0,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
1,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
3,88.9,88.9,88.9,88.9,88.9,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
4,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1661,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1662,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1663,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1664,177.0,177.0,177.0,174.0,171.0,168.0,168.0,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [80]:
filtered_df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
5,88.9,88.9,88.9,88.9,88.9,88.9,88.9,86.3,83.8,81.4,78.8,73.4,64.0,56.1,44.5
7,88.9,88.9,88.9,88.9,88.9,88.9,88.9,88.5,87.5,84.8,81.2,73.4,64.0,56.1,44.5
8,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
10,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
11,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
13,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5